.team-section {
  width: 100%;
  max-width: 240px; /* Adjust max-width as per your design */
  height: 80px;
  background: #ffffff;
  /* box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(99, 0, 237, 0.958); */
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.3rem 0.5rem;
  transition:
    box-shadow 0.3s ease,
    transform 0.2s ease;
}

.team-section-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
}

.team-section-avatar {
  --size: 60px;
  background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transition: transform 0.2s ease;
  margin-bottom: 1rem;
}

.team-section-social {
  transform: translateY(200%);
  display: flex;
  justify-content: space-around;
  width: 100%;
  opacity: 0;
  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
}

.team-section-social__item {
  list-style: none;
}

.team-section-social__item svg {
  display: block;
  height: 18px;
  width: 18px;
  fill: #515f65;
  cursor: pointer;
  transition:
    fill 0.2s ease,
    transform 0.2s ease;
}

.team-section-title {
  color: #333;
  font-size: 5px;
  font-weight: 600;
  line-height: 1rem;
}

.team-section-subtitle {
  color: #859ba8;
  font-size: 8px;
}

.team-section:hover {
  box-shadow: 0 8px 50px #23232333;
}

.team-section:hover .team-section-info {
  transform: translateY(-5%);
}

.team-section:hover .team-section-social {
  transform: translateY(100%);
  opacity: 1;
}

.team-section-social__item svg:hover {
  fill: #232323;
  transform: scale(1.1);
}

.team-section-avatar:hover {
  transform: scale(1.1);
}
